# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# PHPStorm
.idea/

# Sublime Text
*.sublime*
sftp-config.json

# Eclipse
.buildpath
.project
.settings

# Netbeans (custom)
.netbeans/*

# Config
aesirx-1stparty.env
.env

# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~
*.bak.php

# Never ignore
!.gitkeep
!.gitignore
!index.html
!index.php

# Enviroment VS Code settings
settings.json
.env
certs/*
nginx/logs/*
data/*

