RUST_BACKTRACE=1
RUST_LOG="actix_web=info,actix_server=info,actix_redis=trace"
LICENSE=
RUST_CRON_TIME=15
ENABLE_CRONJOB=1
ENABLE_MIGRATION=1
ENABLE_API_SERVER=1

DBUSER=aesirx
DBPASS=1stparty
DBHOST=mongo
DBPORT=27017
DBNAME=aesirxanalytics

HTTP_PORT=80
